---
import type { FeaturedPostsProps } from "@src-types/types";
import FeaturedPostCard from "./FeaturedPostCard.astro";

import "@styles/featured-posts.css";

const t = Astro.props.t;

const {
    posts,
    show_featured_post_preview = false
} = Astro.props as FeaturedPostsProps;
---

<featured-posts class="section no-padding" data-enable-preview={show_featured_post_preview}>         
    <div class="wide-container">
        <div class="featured-posts">
            <div class="featured-posts-inner">
                <div class="subtitle-wrapper subtitle-with-margin">
                    <h2 class="subtitle">{t.global.featured_posts}</h2>
                </div>

                <div class="featured-posts-wrapper">
                    <div class="featured-posts-list">
                        <div class="featured-posts-circle"></div>
                        {
                            posts.map((post) =>
                                <FeaturedPostCard t={t} post={post}/>
                            )
                        } 
                    </div>
                </div>
            </div>
        </div>
    </div>
</featured-posts>