<div class="footer-overlay">
  {
    Array.from({ length: 16 }).map(() => (
      <div class="footer-overlay-piece">
        <div class="footer-overlay-piece-inner"></div>
      </div>
    ))
  }
</div>
