---
import { getImage } from "@utils/utils.ts";
import { Image } from "astro:assets";

const logo_glob = import.meta.glob<{ default: string }>('@assets/images/logo/*.{jpg,jpeg,png,webp,gif,svg}', { eager: true });
const logo = getImage({glob: logo_glob, folder_name: "logo", image_name: "logo" });
const logo_accent = getImage({glob: logo_glob, folder_name: "logo", image_name: "logo_accent" });

const { globalSettings, navbar_logo = true } = Astro.props;
---

<a class={navbar_logo ? "logo-image-wrapper flex-center" : "footer-logo flex-center"} href="/">
    {logo ? (
        <Image 
            class={navbar_logo ? "logo-image main" : "footer-logo-image"}
            src={logo as any}
            alt={globalSettings.site_name}
            loading="eager"
        />
        <>
            {navbar_logo && logo_accent && (
                <Image 
                    class="logo-image accent"
                    src={logo_accent as any}
                    alt={globalSettings.site_name}
                    loading="eager"
                />
            )}
        </>
    ) : (
        <div class={navbar_logo ? "medium-text navbar-logo-text" : "footer-logo-text"}>
            {globalSettings.site_name}
        </div>                       
    )}
</a>