---
import navbarSettings from "@config/navbar.json.ts";
import Logo from "@components/Logo.astro";
import NavbarLink from "@components/NavbarLink.astro";
import NavbarDropdown from "@components/NavbarDropdown.astro";

import "@styles/navbar.css";

const { globalSettings, t } = Astro.props;
---

<custom-header class:list={['navbar-outer', { 'opacity-animation': globalSettings.use_page_load_animations }]}>
    <div class="navbar">
      <div class="wide-container">
        <div class="navbar-inner">
          <div class="navbar-links-outer">
            <div class="navbar-links-inner">
              <ul class="nav">
                <li class="nav">
                  <a class="nav-link medium-text smaller" href="/" target="" rel="">PMC DA VINCI</a>
                </li>
              </ul>
            </div>
          </div>          
          <div class="navbar-links-outer">
            <div class="navbar-links-inner">
              <ul class="nav">
                    {
                        navbarSettings.map((navbarLink) =>
                            "dropdown" in navbarLink ? (
                                <NavbarDropdown navbarLink={navbarLink} />
                            ) : (
                                <NavbarLink navbarLink={navbarLink}/>
                            )
                        )
                    }
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</custom-header>